header {
  background-color: red;
}
main {
  background-color: purple;
}

.hero {
    background: url(../img/Bgd-Mtn1000x500.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer {
  background-color: green;
}
nav li {
  background-color: white;
}
body {
  font-family: $helvetica;
}
