* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.hero {
    background: url(../img/slantyarn-950x1024.jpg) center center no-repeat fixed;
    background-size: cover;
}



body {
  font-family: $helvetica;
}
