header,
nav,
main,
footer,
.hero {
  @include outer-container;
}


// header and nav
// based on treehouse css dropdown menu tutorial
// http://blog.teamtreehouse.com/create-simple-css-dropdown-menu
// refactored for Sass and customized

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-header:after {
  content: " ";
  display: table;
  clear: both;
}

.logo {
  display: block;
  float: left;
  margin-top: 5px;
}


.main-nav {
  float: right;
  & > li {
    float: left;
  }
  & li:first-child {
    border-left: none;
  }
  & a {
    display: block;
    padding: 10px 30px;
  }
}

.dropdown,
.flyout {
  position: relative;
}

.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
}

.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}

